{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <h1 class="display-4">Gestión de Alumnos</h1>
        <p class="lead">Bienvenido al sistema de gestión académica</p>
        
        {% if not user.is_authenticated %}
        <div class="mt-4">
            <a href="{% url 'registro' %}" class="btn btn-primary btn-lg me-3">Registrarse</a>
            <a href="{% url 'login' %}" class="btn btn-outline-primary btn-lg">Iniciar Sesión</a>
        </div>
        {% else %}
        <div class="text-center">
            <div class="mt-4">
                <a href="{% url 'dashboard' %}" class="btn btn-primary btn-lg me-3">📊 Alumnos</a>
                <a href="{% url 'buscar_wikipedia' %}" class="btn btn-primary btn-lg">🔍 navegador</a>
            </div>
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}